body {
  padding-top: 100px;
}
.App {
  text-align: center;
  /* background-color: #dfe2e2;
  background-image: url("./images/whitewoodbg.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  font-size: 40px;
  text-align: center;
 
}

.App-intro {
  font-size: large;
}
.jumbotron {
  clear: top;
 
}

 .display-4{
  font-family: "Oleo Script Swash Caps", cursive
 }
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
