.myNav {
  background-color: #738598;
}
.navbar-brand {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 37px;
  color: black;
}

.btn {
  background: #1cb3c8;
  color: aliceblue;
  margin: 10 10 10 10;
}
.btn:hover {
  color: white;
}
li {
  margin: 3px;
}
